body {
    margin: 0;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    height: 100%;
}

.content {
    margin: 200px 200px 0 200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display {
    padding: 10px 30px 10px 30px;
    display: grid;
    justify-content: space-around;
    height: 400px;
    width: 200px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.attribution {
    margin-top: 30px;
    position: relative;
}

button {
    display: inline-block;
    background-color: hsl(0, 0%, 95%);
    font-weight: 500;
    font-size: 15px;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 50px;
    border: none;
}

.button1 {
    color: hsl(31, 77%, 52%);
}

.button2 {
    color: hsl(184, 100%, 22%);
}

.button3 {
    color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
}

button:hover {
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    border: solid 2px hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .content{
        margin: 100px 10px 100px 10px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .sedan {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .luxury {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
